.pack-container {
    width: 60%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.pack-table {
    margin-top: 24px;
    font-family: SF Pro, Roboto, Noto Sans, sans-serif;
    padding-left: 300px;
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

.step-description {
    color: rgb(128, 128, 137);
    font-size: 22px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}


.step-number {
    width: 24px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(26, 148, 255);
    color: rgb(255, 255, 255);
    margin-right: 8px;
    font-weight: 500;
    flex-shrink: 0;
    text-align: center;
}